:root {
    --color-red: #b91c1c;
    --color-red-code-bg: #fee2e2;
    --color-green: #15803d;
    --color-green-code-bg: #dcfce7;
}

a,
a:visited {
    text-decoration: none;
    color: #06c;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Inter, sans-serif !important;
    font-size: 14px;
    color: #1d1d1f;
}

code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    display: inline-block;
    height: fit-content;
    padding: 0.25em 0.5em;
    border-radius: 0.5rem;
    background-color: #e5e7eb;
}

footer {
    font-size: 12px;
    margin-top: 2rem;
    color: #6e6e73;
}

footer a,
footer a:visited {
    font-size: 12px;
    text-decoration: underline;
    color: #424245;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

hr {
    height: 1px;
    border: none;
    background-color: #d2d2d7;
}

li:not(:last-child) {
    margin-bottom: 0.25rem;
}

.container {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
}

.csi {
    font-size: 8rem;
    font-weight: 700;
    line-height: 0;
    text-align: center;
}

.csi-up {
    color: var(--color-green);
    background-color: var(--color-green-code-bg);
}

.csi-down {
    color: var(--color-red);
    background-color: var(--color-red-code-bg);
}
